.body {
    margin: auto;
    text-align: center;
    font-size: larger;
}

.Book-Title {
    
}

.synopsis-container {

}

.chapter-content {
    padding: 40px;
}

.character-index {
    text-align: start;
}

.location-index {
    text-align: start;
}