.body {
    margin: auto;
    text-align: center;
    font-size: larger;
    padding: 40px;
    background-color: #f6f6f4;
}

.Book-Title {
    
}

.synopsis-container {

}

.chapter-content {
    text-align: start;
}

.paragraph {
    padding-top: 30px;
    padding-bottom: 30px;
}

.speech {
    padding-top: 10px;
    padding-bottom: 5px
}

.character-index {
    text-align: start;
}

.location-index {
    text-align: start;
}

.idea-list {
    text-align: start;
}